<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chuyến đi</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/general.css">
</head>

<body>
    <header>
        <div class="logo">
            <h1>Cộng Đồng Du Lịch</h1>
        </div>
        <div class="nav">
            <ul>
                <li><a href="/home">Trang chủ</a></li>
                <li><a class="active" href="/introduce">Chuyến đi</a></li>
                <li><a href="/location">Điểm Đến</a></li>
                <li><a href="/experience">Kinh Nghiệm</a></li>
                <li><a class="act" href="/login_register">Đăng nhập</a></li>
            </ul>
        </div>
    </header>
    <main>
        <div class="main-content">
            <div class="text-content">
                <h1>Chia sẻ chuyến đi của bản thân</h1>
            </div>
            <hr>
            <div class="text-content">
                <p>Thêm chuyến đi của bạn </p>
            </div>
            <hr>
        </div>
    </main>

    <footer>
        <p>Bản quyền © 2024</p>
    </footer>
    <script src="js/home.js"></script>
</body>

</html>