<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang Chủ</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/general.css">
</head>

<body>
    <div class="header">
        <div class="logo">
            <h1>Cộng Đồng Du Lịch</h1>
        </div>
        <div class="nav">
            <ul>
                <li><a href="/home">Trang chủ</a></li>
                <li><a href="/introduce">Chuyến đi</a></li>
                <li><a class="active" href="/location">Điểm Đến</a></li>
                <li><a href="/experience">Kinh Nghiệm</a></li>
                <li><a class="act" href="/login_register">Đăng nhập</a></li>
            </ul>
        </div>
    </div>
    <div class="main-content">
        <h1>Chào mừng đến với Cộng Đồng Du Lịch</h1>
        <p>Đây là nơi chia sẻ kinh nghiệm và thông tin về các điểm đến du lịch hấp dẫn.</p>

    </div>
    <footer>
        <p>Bản quyền © 2024</p>
    </footer>
</body>

</html>