<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập</title>
    <link rel="stylesheet" href="css/login_register.css">
    <link rel="stylesheet" href="css/general.css">
</head>

<body>

    <div class="container" id="container">
        <div class="form-container sign-up">
            <form>
                <h1>Tạo tài khoản</h1>
                <form action="">
                    <h1>Đăng ký</h1>
                    <span>Tạo tài khoản mới trên cộng đồng du lịch</span>
                    <input type="text" placeholder="Name">
                    <input type="email" placeholder="Email">
                    <input type="password" placeholder="Password">
                    <button>Đăng ký</button>
                </form>
        </div>

        <div class="form-container sign-in">
            <form action="">
                <h1>Đăng nhập</h1>
                <span>Nhập thông tin tài khoản</span>
                <input type="email" placeholder="Email">
                <input type="password" placeholder="Password">
                <a href="#">Quên mật khẩu?</a>
                <button>Đăng nhập</button>
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Bạn đã có tài khoản?</h1>
                    <p>Hãy đăng nhập đề tham gia cộng đồng du lịch của chúng tôi</p>
                    <button class="hidden" id="login">Sign In</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Bạn chưa có tài khoản?</h1>
                    <p>Hãy đăng ký đề tham gia cộng đồng du lịch của chúng tôi</p>
                    <button class="hidden" id="register">Sign Up</button>
                </div>
            </div>
        </div>
    </div>


    <script src="js/login_register.js"></script>
</body>

</html>