<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang Chủ</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/general.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header>
        <div class="logo">
            <h1>Cộng Đồng Du Lịch</h1>
        </div>
        <div class="text-content">
            <h1>Tìm kiếm kỳ nghỉ tiếp theo của bạn</h1>
            <div class="search-bar">
                <form>
                    <div>
                        <label for="">Địa điểm</label>
                        <input type="text" placeholder="Bạn sẽ đi đâu?">
                    </div>
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>
        <div class="nav">
            <ul>
                <li><a class="active" href="/home">Trang chủ</a></li>
                <li><a href="/introduce">Chuyến đi</a></li>
                <li><a href="/location">Điểm Đến</a></li>
                <li><a href="/experience">Kinh Nghiệm</a></li>
                <li><a class="act" href="/login_register">Đăng nhập</a></li>
            </ul>
        </div>
    </header>
    <main>
        <div class="main-content">
            <div class="container-content">
                <div>
                    <h1>Lưu trú ở khách sạn uy tín</h1>
                    <p>Top những khách sạn chất lượng hàng đầu</p>
                </div>
                <div class="carousel">
                    <button class="carousel-button carousel-button-left"><i class="fa fa-angle-left"></i></button>
                    <div class="carousel-track">
                        <div class="carousel-item">
                            <img src="https://via.placeholder.com/300x200" alt="Khách sạn trọn gói">
                            <span>Khách sạn trọn gói</span>
                        </div>
                        <div class="carousel-item">
                            <img src="https://via.placeholder.com/300x200" alt="Khách sạn phù hợp với gia đình">
                            <span>Khách sạn phù hợp với gia đình</span>
                        </div>
                        <div class="carousel-item">
                            <img src="https://via.placeholder.com/300x200" alt="Khách sạn sang trọng">
                            <span>Khách sạn sang trọng</span>
                        </div>
                        <div class="carousel-item">
                            <img src="https://via.placeholder.com/300x200" alt="Khách sạn thân thiện với vật nuôi">
                            <span>Khách sạn thân thiện với vật nuôi</span>
                        </div>
                    </div>
                    <button class="carousel-button carousel-button-right"><i class="fa fa-angle-right"></i></button>
                </div>

            </div>
            <hr>
            <div class="text-content">
                <h1>Điểm đến thú vị</h1>
                <p>Du lịch là cơ hội để khám phá, trải nghiệm và tận hưởng những khoảnh khắc tuyệt vời. Dưới đây là một
                    số điểm đến hấp dẫn mà bạn không thể bỏ qua trong hành trình của mình.</p>
                <p></p>
            </div>
            <hr>
            <div class="text-content">
                <h1>Chia sẻ kinh nghiệm của bản thân với mọi người</h1>
                <p>Trong cuộc sống, mỗi người đều tích lũy cho mình những kinh nghiệm quý báu qua thời gian và thử
                    thách. Chia sẻ những kinh nghiệm này không chỉ giúp đỡ người khác mà còn làm phong phú thêm cuộc
                    sống của chính mình. Dưới đây, chia sẻ một vài kinh nghiệm cá nhân tin rằng sẽ hữu ích cho nhiều
                    người.</p>
                <p></p>
            </div>
            <hr>
        </div>
    </main>

    <footer>
        <p>Bản quyền © 2024</p>
    </footer>
    <script src="js/home.js"></script>
</body>

</html>