.forum,
.group {
    background-image: url(../img/gf.jpg);
    background-size: contain;
    background-attachment: fixed;
    width: 20%;
    height: 100%;
    color: black;
    text-shadow: 2px 2px 5px rgb(255, 255, 255);
}

.forum {
    float: right;
}

.forum h2,
.group h2 {
    color: darkred;
    margin-bottom: 15px;
    border-bottom: 2px solid #007bff;
    padding-bottom: 5px;
    text-align: center;
}

.forum h3,
.group h3 {
    text-align: center;
}

.group {
    float: left;
}

.share-experience {
    width: 60%;
    float: left;
}

.share-experience h2 {
    text-align: center;
}

/* post */
.post-list {
    display: flex;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px auto;
    width: 100%;
}

.image {
    position: relative;
    flex: 1;
    padding: 10px;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.post-item {
    flex: 2;
    padding: 20px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.rating {
    color: green;
    font-weight: bold;
    margin-bottom: 10px;
}

.description {
    color: #555;
    margin-bottom: 20px;
}

.notetrip ul {
    padding-left: 40px;
}

.like-button {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px 20px;
    background-color: #FFC107;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.like-button:hover {
    background-color: #e0a800;
}

.group-item,
.forum-item {
    padding: 20px;
}

ul {
    padding-left: 20px;
}

ul li {
    margin-bottom: 10px;
}

.group ul li a,
.forum ul li a {
    color: blue;
    text-shadow: 2px 2px 5px rgb(255, 255, 255);
    text-decoration: none;
}

ul li a:hover {
    text-decoration: underline;
}