.space {
    height: 50px;
    width: 50px;
}

header {
    min-height: 60vh;
    width: 100%;
    background-image: url('../img/header.jpg');
    background-size: cover;
    background-position: center;
}

@media (max-width: 303px) {
    header {
        min-height: 100vh;
    }
}

header h1 {
    font-size: 2.5em;
    color: #fff;
    text-shadow: 2px 2px 0 #000,
        /* Lớp bóng thứ nhất */
        4px 4px 0 #555,
        /* Lớp bóng thứ hai */
        6px 6px 0 #aaa;
    /* Lớp bóng thứ ba */
    margin: 20px;
}


/*carousel */
.carousel {
    position: relative;
    overflow: hidden;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    margin-right: 1%;
    min-width: 48%;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    z-index: -100;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-item img {
    max-width: 100%;
    min-height: 100%;
    object-fit: cover;
    display: block;
    z-index: -50;
}

.carousel-item span {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 18px;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 100;
}

.carousel-button-left {
    left: 10px;
}

.carousel-button-right {
    right: 10px;
}

/* search bar */
.search-bar {
    background: #fff;
    width: 50%;
    margin: 30px auto;
    border-radius: 50px;
    overflow: hidden;
}

.search-bar form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.search-bar form input {
    flex: 1;
    border: none;
    outline: none;
    padding: 10px 20px;
    font-size: 16px;
}

.search-bar form button {
    background: #5144fd;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
}

.learn-more-btn {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #007bff;
    border-radius: 5px;
    text-decoration: none;
}

.learn-more-btn:hover {
    background-color: #0056b3;
}