.space {
    height: 50px;
}

.container-content {
    background-color: rgba(80, 80, 76, 0.1);
    backdrop-filter: blur(5px);
    border-radius: 15px;
    max-width: 1200px;
    margin: 10px 10px;
    padding: 10px;
}


.carousel {
    position: relative;
    overflow: hidden;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    min-width: 300px;
    margin-right: 10px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: -100;
}

.carousel-item img {
    width: 100%;
    display: block;
    z-index: -50;
}

.carousel-item span {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 18px;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 100;
}

.carousel-button-left {
    left: 10px;
}

.carousel-button-right {
    right: 10px;
}

/* search bar */
.search-bar {
    background: #fff;
    width: 70%;
    margin: 30px auto;
    padding: 6px;
    border-radius: 50px;
}

.search-bar form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.search-bar form input {
    display: block;
    background: transparent;
    border: none;
}

.search-bar form button {
    float: right;
    background: #5144fd;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
}