.category-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.category {
    background-color: #f1f1f1;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
}

.category a {
    text-decoration: none;
}

.category a:hover {
    color: black;
}

.cities-section {
    margin-top: 40px;
    padding: 20px;
}

.cities-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.city-container {
    display: flex;
    gap: 20px;
}

.city-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    flex: 1;
    text-align: center;
}

.city-card img {
    max-width: 100%;
    object-fit: cover;
}


.city-info {
    padding: 10px;
}

.city-info h3 {
    margin: 10px 0;
    font-size: 18px;
}

.city-info p {
    margin: 0;
    color: #666;
}