.main-content {
    flex: 1;
    padding: 10px;
}



footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}



/* nav */
.nav {
    background-color: rgba(46, 46, 45, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 25px;
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
    z-index: 1000;
}

.nav ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.nav li {

    float: left;
    display: inline;
}

.nav a {
    display: block;
    color: antiquewhite;
    text-decoration: none;
    padding: 14px;
}

.nav a:hover {
    background-color: rgb(148, 99, 34);
    border-radius: 20px;
}

.active {
    border-bottom: 5px solid black
}

.act {
    border-radius: 20px;
    background-color: rgb(21, 63, 31);
}

/* Tiêu đề & logo */
.logo {
    padding-left: 20px;
    font-weight: bold;
}

.logo h1 {
    font-size: 2em;
}

@media (max-width: 875px) {
    .logo h1 {
        font-size: 0em;
    }
}

.text-content {
    background-color: rgba(80, 80, 76, 0.1);
    backdrop-filter: blur(5px);
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    width: 100%;
}