li {
    float: right;
    display: inline;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Đặt màu nền chung và màu chữ */
body {
    background-color: #f0f0f0;
    color: #333;
    font-family: 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

/* Định dạng header */
header {
    background-color: #0078d7;
    color: white;
    padding: 10px 0;
    text-align: center;
}

/* Định dạng logo */
.logo {
    font-size: 2em;
    font-weight: bold;
}

/* Định dạng menu */
nav {
    background-color: #329160;
    color: rgb(255, 255, 255);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #111;
}

/* Định dạng nội dung chính */
.main-content {
    padding: 20px;
    background-color: white;
}

/* Định dạng footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}